body {
  font-family: Arial, sans-serif;
  background-color: #2b2d30;
  color: #3c6e36;
  margin: 0;
  padding: 2rem;
  font-size: 1.2rem;
}

h1 {
  text-align: center;
  margin-bottom: 2rem;
  color: #3c6e36;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-bottom: 2rem;
}

nav a {
  color: #3c6e36;
  text-decoration: none;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border: 2px solid #3c6e36;
  border-radius: 8px;
}

nav a:hover {
  background-color: #3c6e36;
  color: #ffffff;
}

#searchBar {
  display: block;
  margin: 0 auto 2rem auto;
  padding: 0.5rem;
  font-size: 1rem;
  width: 100%;
  max-width: 500px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #35373a;
  border: 2px solid #3c6e36;
  box-shadow: 0 0 12px #3c6e36;
}

th,
td {
  text-align: left;
  padding: 16px;
  border-bottom: 1px solid #3c6e36;
}

th {
  background-color: #3c6e36;
  color: #f0f0f0;
  cursor: pointer;
  user-select: none;
}

tr:hover {
  background-color: #44474b;
}

.mons {
  display: flex;
  gap: 6px;
}

.mons img {
  width: 59px;
  height: 59px;
}

a.button {
  display: inline-block;
  padding: 0.4rem 0.8rem;
  background-color: #3c6e36;
  color: #ffffff;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

a.button:hover {
  background-color: #4d8f4d;
}
